# Core dependencies
tensorflow==2.14.0
numpy==1.24.3
pillow==10.0.1
opencv-python==4.8.1.78
matplotlib==3.7.2
pandas==2.1.1

# GUI and visualization
tk==0.1.0
sv-ttk==2.5.5

# Image processing
scikit-image==0.21.0

# Utility
tqdm==4.66.1
pyzbar==0.1.9

# Data management
h5py==3.9.0